html
  
  
  script(type='text/javascript') var countries= !{JSON.stringify(countries)}
  link(href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js")
  script(src="javascripts/autocomplete.js")
  link(href='stylesheets/style.css' rel='stylesheet')
      

  head
    block title
      title Global Voices
  body 
      p learn about : 
        //form(onSubmit='return process();')
        input(type='text', id='autocomplete', name='country', placeholder='country name')
        input(type='submit' id='submitter' value='submit' onclick="processClk()")
      block content
