

.ui-autocomplete .highlight {
    text-decoration: underline;
}

body {
    background-color: #91A437;
    height: 100%;  
    font-family:Verdana; 
}

input {
  margin-left: 10px;

}

p {
  font-size:1.6em;
  text-align: center;
  padding:.3em;
  background-color:#9DBA13;

}

input {
  font-size: 1.2em;
}

#submitter {
  margin-left: 10px;
  display:none;
}

#storyblock {
  position:relative;
  margin:auto;

}
.story {
  background-color: #848E51;
  display: block;
  border-radius: 3px;
  width: 30em;
  margin: auto;
  margin-top:1em;
  padding: 3px;

 -webkit-box-shadow: 0em 0em 3em .05em rgba(0,0,0,0.66);
 -moz-box-shadow: 0em 0em 3em .05em rgba(0,0,0,0.66);
 box-shadow: 0em 0em 3em .05em rgba(0,0,0,0.66);
}

.sTitle {
  background-color: #ACD000;
  padding:4px;
  border-radius:3px;
  font-size: 1.5em;
}



.sAuthor {
  font-size:.7em;
  font-style: italic;
  padding:.3em;
}

.sContent {
  font-size:.8em;
  padding:.5em;

}

.sLink{
  font-size:.8em;
  padding:.5em;

}